{%extends 'base.html' %}
{% load static %}
{% block title %}
博客详情
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'highlight/styles/github-dark.css' %}">
<script src="{% static 'highlight/highlight.min.js' %}"></script>

{% endblock %}

{% block main %}
<h1>博客详情页</h1>
<hr>
<div class="mt-2">
    <img src="{% static 'image/logo_img.png' %}" alt="Author Avatar" width="30" height="30"
        class="d-inline-block align-text-top rounded-circle">
    <span class="ms-2 text-white">{{ blog.auther }}</span>
    <span class="ms-2 text-white">于</span>
    <span class="ms-2 text-white">{{ blog.publicTime }}</span>发布
</div>
<hr>
<div class="py-2">
    <h3 class="text-white">{{ blog.title }}</h3>
</div>
<div class="py-2">
    <p class="text-white">{{ blog.content | safe }}</p>
</div>



<!-- <div class="card text-bg-dark" style="width: 100%; border: 4px solid #756b68; border-radius: 0.5rem;">
            <div class="card-body" style="background-color: #272c31;">
                <h3 class="card-title">博客标题</h3>
                <p class="card-text">这里是博客的详细内容。可以包含多段文字、图片等丰富内容。</p>
            </div>  
            <div class="card-footer" style="background-color: #272c31;">
                <p class="card-text text-end">发布时间：2023-10-10</p>
            </div>
        </div> -->

<hr>
<div class="mt-2">
    <h3 class="text-white">评论({{ blog.comments.count }})</h3>
    <form action="{% url 'blogMain:blogMain_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="blog_id" value="{{ blog.id }}">
        <div class="input-group mb-3">
            <span class="input-group-text text-white bg-dark" id="inputGroup-sizing-default">To Author Name</span>
            <input type="text" class="form-control text-white bg-dark" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="content">
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-warning">submit</button>
        </div>

    </form>
</div>

<div class="mt-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark mb-2">
            {% for comment in blog.comments.all %}
            <div class="d-flex align-items-center mb-2">
                <img src="{% static 'image/logo_img.png' %}" alt="" width="30" height="30"
                    class="d-inline-block align-text-top rounded-circle">
                <span class="ms-2 text-white">{{ comment.auther }}</span>
                <span class="ms-2 text-white">于</span>
                <span class="ms-2 text-white">{{ comment.publicTime }}</span>评论
            </div>
            <p class="text-white">{{ comment.content }}</p>
            <hr>
            {% endfor %}

        </li>
    </ul>
</div>
<script>
    hljs.highlightAll();
</script>
{% endblock %}